*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: brown;
}
main{
    
}
.container{
    width: 100vw;
    max-width: 1000px;
    min-width: 365px;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
}
.columns{
    display: flex;
}
.parceiros, .mkt{
    width: 50%;
    border: 1px solid black;
}



@media screen and (max-width: 500px) {
    .columns{
        flex-direction: column;
    }
    .parceiros, .mkt{
        width: 100%;
    }
}

@media print