@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

span{
    display: flex;
    flex-wrap: wrap;
    border: solid 10px black;
    align-content: center;
    justify-content: center;
    background-color: lightpink;
    width: fit-content;
    height: fit-content;
}

header{
    width: 100vw; /*100% de acordo com a tela do dispositivo */
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color:brown;
}

.header__title--red{
    background-color:red;
    color: black;
    border: solid 2px black;
    font-family: "inter", sans-serif;
}

.header__title--blue{
    background-color:blue;
    color:white;
    border: solid 2px black;
    font-family: "inter", sans-serif;
}

