@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
--cor-primaria: lightgoldenrodyellow;
--cor-secundaria: rgb(255, 145, 0);
--cor-terciaria: black;
--cor-quaternaria: yellow;
}

header{
    height: 20vh; /*100% de acordo com a tela do dispositivo */
    border: solid 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--cor-primaria);
}

.header__title{
    display: flex;
    flex-wrap: column wrap;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-family: "inter" serif;
    font-size: 90px;
    font-weight: 549;
    background-color: var(--cor-secundaria);  
}

.header__title--red{
  font-style: italic;
}

.header__title--blue{
   
  
}

.header__logo{
    
    max-width: 100px;
    max-height: 100px;
}

main{
    background-color: var(--cor-secundaria);
    height: 60vh;
    background-image: url(pizza.jpeg);
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
 border-left: solid 7vw black;
 border-right: solid 7vw black;
}

.form{
    position: relative;
    left: 56vw;
    top: 19vh;
    background-color: var(--cor-primaria);
    width: 400px;
    height: 200px;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

span{
    font-weight: bolder;
    font-size: larger;
    border: black;
    border-radius: 5px;
    font-family: "inter", sans-serif;
}

.form__control{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 320px;
} 

.form__btn-area{
display: flex;
gap:15px;
}
  
.form__btn{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px 18px;
    box-shadow: 0px 4px 4px 0px
}

.form__btn--green{
    background-color: lightgreen;
    border-radius: 10px;
    width: 60px;
}


.footer{
    background-color: var(--cor-primaria);
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    gap: 180px;
    height: 20vh;
}

.footer__social-text--middle{
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.footer__social-icons--middle{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    
}

.footer__adress--left{
font-family: "inter", sans-serif;
}

.footer__form--right{
    font-family: "inter", sans-serif;
}
